/* Custom Swiper Pagination Styles */
.custom-swiper .swiper-pagination-bullet {
  background-color: #6b6b6b; /* Change this to your desired color */
  width: 18px; /* Default width */
  height: 18px; /* Default height */
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #7d7d7d; /* Change this to your desired active color */
  width: 18px; /* Desired width for the active bullet */
  height: 18px; /* Keep the height consistent */
  border-radius: 50%; /* Optional: Make the active bullet rounded */
}
